.initanim {
    animation: init 1s ease-in-out forwards;
}
@keyframes init {
    0% {
        opacity: 0;
        position: relative;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        position: relative;
        transform: translateY(0px);
    }
}